body {
    display: flex;
    flex-direction: column;
}

.titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.addMovieForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (min-width: 920px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); 
        max-width: 1680px;
    }
}